[project]
	description = Open Source reference implementation of the next generation of connect vehicle services - Remote Vehicle Interaction - based on the discussions inside and outside the Automotive Grade Linux expert Group.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Magnus Feuer (magnusfeuer)
[access "refs/for/refs/*"]
	read = group user/Magnus Feuer (magnusfeuer)
	push = group user/Magnus Feuer (magnusfeuer)
	label-Code-Review = -2..+2 group user/Magnus Feuer (magnusfeuer)
	label-Verified = -1..+1 group user/Magnus Feuer (magnusfeuer)
	rebase = group user/Magnus Feuer (magnusfeuer)
	removeReviewer = group user/Magnus Feuer (magnusfeuer)
	submit = group user/Magnus Feuer (magnusfeuer)
[access "refs/heads/*"]
	read = group user/Magnus Feuer (magnusfeuer)
	create = group user/Magnus Feuer (magnusfeuer)
	push = +force group user/Magnus Feuer (magnusfeuer)
	pushMerge = group user/Magnus Feuer (magnusfeuer)
[access "refs/tags/*"]
	push = +force group user/Magnus Feuer (magnusfeuer)
	pushTag = group user/Magnus Feuer (magnusfeuer)
	pushSignedTag = group user/Magnus Feuer (magnusfeuer)
